* {
    padding: 0px;
    margin: 0px;
}


.menu-container {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 5px;
    color: white;
}

.name {
    flex-direction: row;
}

.menu-items {
    display: flex;
}

.menu-items li {
    list-style: none;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
}

.menu-items li:hover {
    color: blue;
    cursor: pointer;
}

.banner-container {
    display: flex;
    color: white;
    text-align: left;
    width: 100%;
    height: 100vh;
    background-color: black;

}

.banner-description {
    margin: 300px 0px 0px 50px;
}

.banner-text {
    color: red;
    font-size: 25px;
}

.title1 {
    font-size: 60px;
    font-weight: bold;
    margin: 10px;
}

.text {
    font-size: 25px;
    margin: 10px;
}

.banner-butt {
    padding: 20px 40px;
    border-radius: 10px;
    background-color: red;
    margin: 10px;
    font-size: 18px;
    color: white;
}