* {
    padding: 0px;
    margin: 0px;
    transition: 0.8ms;
    scroll-behavior: smooth;
}


.menu-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 5px;
    color: white;
}

.name {
    margin-left: 100px;
    font-size: 53px;
    font-weight: bold;
    font-style: italic;
    overflow: hidden;
    border-right: .10em solid #FF8D8D;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .4rem;
    animation: demo-typewriter 3s steps(30, end), demo-cursor 1s step-end infinite;

}

@keyframes demo-typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes demo-cursor {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #FF8D8D;
    }
}

.menu-items {
    display: flex;
}

.menu-items li {
    list-style: none;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
}

.menu-items li:hover {
    color: blue;
    cursor: pointer;
}

.banner-container {
    display: flex;
    color: white;
    text-align: left;
    width: 100%;
    height: 100vh;
    background-color: black;

}

.banner-description {
    margin: 300px 0px 0px 50px;
}

.banner-text {
    color: red;
    font-size: 25px;
}

.title1 {
    font-size: 60px;
    font-weight: bold;
    margin: 10px;
}

.text {
    font-size: 25px;
    margin: 20px;
}

.banner-butt {
    padding: 20px 40px;
    border-radius: 10px;
    background-color: red;
    margin: 10px;
    font-size: 18px;
    color: white;
}

.section-tow {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    padding: 50px;
}

.title2 {
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    margin-top: 50px;
}

.card1 {
    margin-top: 0px;
    width: 500px;
    height: 350px;
    border: 1px solid gray;
    text-align: center;
    padding: 20px;
    box-shadow: 10px 10px 20px gray;
    font-size: 20px;
    border-radius: 10px;
    transition: .9ms;
}

.card1:hover {
    border: 2px solid blue;
    margin-top: -30px;
    transition: .9ms;
}

.gym-icon {

    margin-top: 10px;
    width: 150px;
}

.gym-icon3 {
    width: 250px;
}

.about-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    background-color: black;
    color: white;
}

/* .about-left {
    width: 700px;
    border: 1px solid black;
}

.about-right {
    width: 700px;
    border: 1px solid red;
} */
.workout-img {
    display: flex;
    margin-top: 50px;
}

.workout-img img {
    display: flex;
    transform: skewY(-15deg);
}

.about-dis {
    margin-left: 100px;
}


.footer-container {
    padding: 100px;
    line-height: 1.7;
}

footer {
    float: left;
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 70px;
}

.footer h5 {
    margin-top: 50px;
    word-spacing: 25px;
    font-size: 14px;
    text-align: center;
    color: #8a8d91;

}

.footer h5 a {
    text-decoration: none;
    color: black;
    font-family: 'Alegreya SC', serif;
}

.footer h5 a:hover {
    color: red;
    text-decoration: underline;

}

.footer p {
    font-size: 16px;
    text-align: center;
    color: black;
}

.footer p a {
    color: red;
    text-decoration: none;
}

.footer p a:hover {
    color: red;
    text-decoration: underline;

}