* {
    padding: 0px;
    margin: 0px;
}


.menu-container {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 5px;
    color: white;
}

.name {
    flex-direction: row;
}

.menu-items {
    display: flex;
}

.menu-items li {
    list-style: none;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
}

.menu-items li:hover {
    color: blue;
    cursor: pointer;
}

.banner-container {
    display: flex;
    color: white;
    text-align: left;
    width: 100%;
    height: 100vh;
    background-color: black;

}

.banner-description {
    margin: 300px 0px 0px 50px;
}

.banner-text {
    color: red;
    font-size: 25px;
}

.title1 {
    font-size: 60px;
    font-weight: bold;
    margin: 10px;
}

.text {
    font-size: 25px;
    margin: 20px;
}

.banner-butt {
    padding: 20px 40px;
    border-radius: 10px;
    background-color: red;
    margin: 10px;
    font-size: 18px;
    color: white;
}

.section-tow {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    padding: 50px;
}

.title2 {
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    margin-top: 50px;
}

.card1 {
    margin-top: 0px;
    width: 500px;
    height: 350px;
    border: 1px solid gray;
    text-align: center;
    padding: 20px;
    box-shadow: 10px 10px 20px gray;
    font-size: 20px;
    border-radius: 10px;
    transition: .9ms;
}

.card1:hover {
    border: 2px solid blue;
    margin-top: -30px;
    transition: .9ms;
}

.gym-icon {

    margin-top: 10px;
    width: 150px;
}

.gym-icon3 {
    width: 250px;
}

.about-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    background-color: black;
    color: white;
}

/* .about-left {
    width: 700px;
    border: 1px solid black;
}

.about-right {
    width: 700px;
    border: 1px solid red;
} */
.workout-img {
    display: flex;
    margin-top: 50px;
}

.workout-img img {
    display: flex;
    transform: skewY(-15deg);
}

.about-dis {
    margin-left: 100px;
}